.pickup-widget {
  background-color: #f5d361;

  &__inner {
    padding: 5%;

    @media screen and (min-width: 720px) {
      padding: 10%;
    }

    h2 {
      padding: 0 0 10px 0;
      margin:0;
      font-size: 2em;
      font-weight: 700;
      line-height: 1.3em;
      text-shadow: none;
    }

  }

}

span.highlight {
  color: yellow;
  background-color: #6eb8fa !important;
}
