.search-container {

  padding: 0 0 5px;
  position: relative;

  label {
    color: #444;
    text-shadow: none;
    float: none;
    width: auto;
    font-size: 0.875em;
    line-height: 30px;
  }

  input {
    padding: 12px 8% 12px 2%;
    width: 90%;
    line-height: 15px;
    margin: 0;
    background: #FEFEFE;
    border: 1px solid #a9a9a9;

    @media screen and (min-width: 720px) {
      font-size: 0.813em;
    }

  }

  &__loader {
    position: absolute;
    right: 0;
    width: auto;
    height: 24px;
    top: 39px;
  }
}
