<div class="search-container">
  <label for="locationSearchInput">{{model.label}}</label>
  <img *ngIf="loaderVisibility === true" alt="loader" class="search-container__loader" src="/assets/preloader.gif">
  <input type="text" aria-autocomplete="list" aria-required="true" aria-haspopup="true"
          (ngModelChange)="updateSearch($event)" [ngModel]="searchTerm" id="locationSearchInput" placeholder="{{model.placeholder}}">
  <div class="">
    <app-location-container [locations]="locations" [keywordToHighlight]="keywordToHighlight"></app-location-container>
  </div>
</div>
