.location-container {
  position: absolute;
  clear: both;
  background: #fff;
  padding: 0;
  z-index: 9999;
  font-size: .875em;
  overflow-y: auto;
  box-shadow: 0 2px 2px rgba(0,0,0,0.4);
  width: 100%;
  margin: 0 0 0 1px;

  &__locations {
  }

  &__location {
    color: #989898;
    padding: 0;
    cursor: pointer;
    border-radius: 2px;
    border-bottom: 1px solid #eaeaea;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      color: #989898;
      padding: 0;
      cursor: pointer;
      border-radius: 2px;
      border-bottom: 1px solid #eaeaea;
    }
  }
}
