<div class="location-container">
  <div class="location-container__locations" aria-activedescendant="location-row-active">
    <div class="location-container__location" *ngFor="let location of locations">
      <app-location-row [location]="location" [keywordToHighlight]="keywordToHighlight"></app-location-row>
    </div>
  </div>
</div>
