<div class="location-row">
  <a [attr.id]="rowIdIfActive">
    <div (mouseover)="setIdAsActive($event)" (mouseout)="unsetId($event)"
            class="location-row__type location-row__type--airport" *ngIf="location.placeTypeName">
      {{location.placeTypeName}}
    </div>
    <div class="location-row__data">
      <span [innerHTML]="getFullLocationName() | highlightKeyword: keywordToHighlight + ',location-row__highlight'">
      </span>
      <span class="location-row__data-region highlight" [innerHTML]="getFullRegionName() | highlightKeyword: keywordToHighlight + ',location-row__highlight' ">
      </span>
    </div>
  </a>
</div>
