.location-row {

  &:hover {
    background-color: #dff6ff;
  }

  &__type {

    float: left;
    min-width: 30px;
    margin: 2px 10px 0 10px;
    padding: 3px 5px;
    border-radius: 2px;
    text-align: center;
    font-weight: 500;
    color: #fff;
    font-size: 70%;

    @media screen and (min-width: 720px) {
      min-width: 50px;
      border-radius: 3px;
      font-weight: bold;
    }

    &--other {
      background-color: #6eb8fa;
    }

    &--airport {
      background-color: #f2817f;
    }

    &--city {
      background-color: #6eb8fa;
    }

    &---station {
      background-color: #9d9dbb;
    }
  }

  a {
    font-weight: 400;
    text-overflow: ellipsis;
    font-size: 110%;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 0;
    color: #222222;
    display: block;
    padding: 7px 0 7px 0;
  }

  &__data {
    display: inline-block;
    font-size: 93%;

    @media screen and (min-width: 720px) {
      font-size: 100%;
    }
  }

  span#{&}__data-region {
    font-weight: 400;
    color: gray;
    display: block;
    font-size: 85%;
  }

  span#{&}__highlight {
    font-weight: 700;
  }
}
