/* You can add global styles to this file, and also import other style files */

body {
  padding: 0;
  margin: 0;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}
